@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 3140px;
  background-color: rgb(243, 243, 243);
  overflow-x: hidden;
}

header {
  background-image: url("./assets/bg-landpage.png");
  background-size: cover;
  background-position: center;
}
